/* Import Webix CSS */
@import url('https://cdn.webix.com/edge/skins/flat.css');

/* Import MD font icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.1.19/css/materialdesignicons.min.css');

/* Import IM font icons */
@import url('https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css');

/* Google Material icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.im {
    font-size: inherit !important;
    transform: translate(0, 15%)
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;;
    font-size: inherit;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    transform: translate(0, 10%);

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.marid-small {
    font-size: small;
}