html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    margin-top: 16px;
    margin-bottom: auto;
}

footer {
    min-height: 24px;
}