<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">

    <title>Marid IDE</title>

    <link rel="stylesheet" href="/public/login.css" type="text/css">
    <link rel="icon" type="image/png" href="/dyn/marid-icon.png?size=24">
</head>
<body>

<div class="center-panel">
    <div class="section header">
        <img src="/dyn/marid-icon.png?size=84" width="84px" height="84px">
        <div class="header-container">
            <div class="login-header">Marid</div>
            <div>Spirit Driven Development</div>
        </div>
    </div>

</div>

</body>
</html>