<!DOCTYPE html>
<html>
<head translate="no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">

    <title>Marid IDE</title>

    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="icon" type="image/png" href="/dyn/marid-icon.png?size=24"/>
</head>
<body>

<div class="center-panel">
    <table width="100%" cellspacing="10px">
        <tr>
            <td style="width: 84px"><img src="/dyn/marid-icon.png?size=84" width="84px" height="84px"></td>
            <td>
                <div class="header-container">
                    <div class="login-header">Marid</div>
                    <div>Spirit Driven Development</div>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>
</html>