<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">

    <title th:text="#{MaridMenu}">Marid Menu</title>

    <link rel="stylesheet" th:href="@{/webjars/semantic/2.3.0/dist/semantic.cosmo.min.css}" href="/webjars/semantic/2.3.0/dist/semantic.cosmo.min.css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">

    <link rel="icon" type="image/png" href="/dyn/marid-icon.png?size=24">
</head>

<body class="ui segment">

<div class="ui relaxed divided list">
    <th:block sec:authorize="hasRole('ADMIN')">
        <div class="item">
            <div class="content">
                <div class="header" th:text="#{Administration}">Administration</div>
            </div>
        </div>
        <a class="item" href="/users/users.html" th:text="#{Users}" target="_blank">Users</a>
    </th:block>

    <div class="item">
        <div class="content">
            <div class="header" th:text="#{Session}">Session</div>
        </div>
    </div>
    <a class="item" href="/login?logout" th:text="#{Logout}">Log out</a>
</div>

<script src="/webjars/jquery/3.3.1/dist/jquery.js" type="text/javascript"></script>
<script src="/webjars/semantic/2.3.0/dist/semantic.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>
</body>
</html>