<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">

    <title>Marid Menu</title>

    <link rel="stylesheet" th:href="${theme}" href="/webjars/bootstrap/4.0.0-1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">

    <link rel="icon" type="image/png" href="/dyn/marid-icon.png?size=24">

    <script src="/webjars/jquery/3.3.1-1/jquery.js" type="text/javascript"></script>
    <script src="/webjars/angularjs/1.6.9/angular.js" type="text/javascript"></script>
    <script src="js/index.js" type="text/javascript"></script>
</head>

<body class="container-fluid">

<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical" id="menu">
    <!-- Users -->
    <a class="nav-link"
       href="/users.html"
       th:text="#{Users}"
       sec:authorize="hasRole('ROLE_ADMIN')"
       target="_blank">Users</a>
    <!-- Log out -->
    <a class="nav-link"
       href="/login?logout"
       th:text="#{Logout}">Log out</a>
</div>

<script src="/webjars/bootstrap/4.0.0-1/js/bootstrap.bundle.js" type="text/javascript"></script>

</body>
</html>