<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">

    <title>Marid IDE</title>

    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="icon" type="image/png" href="/dyn/marid-icon.png?size=24">
</head>
<body>

<div class="center-panel">
    <div class="section header">
        <img src="/dyn/marid-icon.png?size=84" width="84px" height="84px">
        <div class="header-container">
            <div class="login-header">Marid</div>
            <div>Spirit Driven Development</div>
        </div>
    </div>

    <form method="post" th:action="@{/login}">

        <div class="section">
            <label for="user" th:text="#{User}"></label>
            <input id="user" name="username" type="text" th:placeholder="#{User}"/>
        </div>

        <div class="section">
            <label for="pass" th:text="#{Password}"></label>
            <input id="pass" name="password" type="password" th:placeholder="#{Password}"/>
        </div>

        <div th:if="${param.error}" class="section" th:text="#{${session.SPRING_SECURITY_LAST_EXCEPTION.message}}"></div>

        <div class="section">
            <input type="submit" th:value="#{Submit}"/>
        </div>

        <div class="section login-footer">
            <span>
                Licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">AGPL v3</a>
                license.
            </span>
        </div>
    </form>
</div>

</body>
</html>