* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-stretch: condensed;
}

:root {
    font-size: 13px;
}

html {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    width: auto;
    height: auto;

    padding: 1rem;

    display: flex;
    align-items: flex-start;
}

