<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/dyn/marid-icon.png?size=24" />
    <link rel="stylesheet" href="css/marid.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
</head>
<body>
<p>Hello</p>
<script>

</script>
</body>
</html>