<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: head (#{MaridIDE})"></head>

<body>

<div class="ui inverted menu fluid" id="menu">
    <div class="ui simple dropdown item">
        <img src="/dyn/marid-icon.png?size=32"/><i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="/login?logout" th:text="#{Logout}"></a>
        </div>
    </div>
    <div class="ui simple dropdown item" sec:authorize="hasRole('ROLE_ADMIN')">
        <span th:utext="#{IAdmin}"></span>
        <div class="menu">
            <a class="item" th:href="@{/admin/users}" th:utext="#{IUsers}" target="_blank"></a>
        </div>
    </div>
</div>

<div class="ui fluid container">
    <h1 class="ui header">Semantic UI Fixed Template</h1>
    <p>This is a basic fixed menu template using fixed size containers.</p>
    <p>A text container is used for the main container, which is useful for single column layouts</p>
    <img class="wireframe" src="/dyn/marid-icon.png?size=32">
    <img class="wireframe" src="/dyn/marid-icon.png?size=32">
    <img class="wireframe" src="/dyn/marid-icon.png?size=32">
    <img class="wireframe" src="/dyn/marid-icon.png?size=32">
    <img class="wireframe" src="/dyn/marid-icon.png?size=32">
    <img class="wireframe" src="/dyn/marid-icon.png?size=32">
    <img class="wireframe" src="/dyn/marid-icon.png?size=32">
</div>

</body>
</html>