<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Marid IDE</title>
    <link rel="stylesheet" href="https://cdn.webix.com/edge/skins/flat.css" type="text/css">
    <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
    <style type="text/css">
        .login-footer {
            font-size: small;
        }

        .login-header {
            font-size: x-large;
        }
    </style>
</head>
<body>
<script th:inline="javascript" type="text/javascript">
    function login() {//@ sourceURL=Login.js
        let form = $$("loginForm");
        webix.ajax().post("/login", form.getValues(), (text, xml, xhr) => {
            window.location = "/";
        });
    }

    let csrfParam = [[${_csrf.parameterName}]];
    let csrfToken = [[${_csrf.token}]];

    webix.ui({
        rows: [
            {
                gravity: 2,
                type: "form",
                cols: [
                    {
                        data: {img: '/dyn/marid-icon.png'},
                        template: d => "<img src='" + d.img + "' width='64' height='64'/>",
                        borderless: true,
                        autoheight: true,
                        width: 70
                    },
                    {
                        rows: [
                            {
                                view: "label",
                                label: "Marid",
                                css: "login-header"
                            },
                            {
                                view: "label",
                                label: "Spirit Driven Development"
                            }
                        ]
                    }
                ]
            },
            {
                id: "loginForm",
                view: "form",
                gravity: 2,
                borderless: true,

                elements: [
                    {view: "text", name: "username", label: "User name"},
                    {view: "text", name: "password", label: "Password", type: "password"},
                    {view: "text", name: csrfParam, value: csrfToken, hidden: true},
                    {
                        margin: 20, cols: [
                            {view: "button", label: "Login", type: "form", click: "login"},
                            {view: "button", label: "Cancel"}
                        ]
                    }
                ]
            },
            {
                type: "form",
                rows: [
                    {
                        view: "template",
                        gravity: 2,
                        template: "(c) 2018 Marid Software Development Group. This software is licensed under <a href=\"https://www.gnu.org/licenses/agpl.html\">AGPL v3.0</a>",
                        css: "login-footer",
                        borderless: true
                    }
                ]
            }
        ]
    });

    webix.ui.fullScreen();
</script>
</body>
</html>