@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
}

.login-footer {
    font-size: small;
}

.login-header {
    font-size: 28px;
    font-weight: 900;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 64px;
}

.section {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.section label[for="user"]::before {
    content: url("/svg/person.svg");
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.section label[for="user"]::after {
    content: " : ";
    margin-right: 10px;
}

.section label[for="pass"]::before {
    content: url("/svg/key.svg");
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.section label[for="pass"]::after {
    content: " : ";
    margin-right: 10px;
}

.center-panel {
    border-radius: 5px;
    border: 3px solid lightgray;
}