<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      sec:authorize="hasRole('ROLE_ADMIN')">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">

    <title>Marid Users</title>

    <link rel="stylesheet" th:href="@{/webjars/semantic/2.3.0/dist/semantic.min.css}" href="/webjars/semantic/2.3.0/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/users.css" type="text/css">

    <link rel="icon" type="image/png" href="/dyn/marid-icon.png?size=24">
</head>

<body>

<div class="ui inverted menu" id="menu">
    <div th:replace="/parts/session.html :: sessionMenu"></div>
</div>

<main class="ui">
    <div class="ui vertical pointing menu" id="users">
        <a class="item" th:each="user: ${dao.users}" th:text="${user.name}">Name</a>
    </div>
    <form class="ui form segment" id="userContainer" method="post" th:action="@{~/users/userEdit}"></form>
</main>

<script src="/webjars/jquery/3.3.1/dist/jquery.js" type="text/javascript"></script>
<script src="/webjars/semantic/2.3.0/dist/semantic.js" type="text/javascript"></script>
<script src="/js/sse.js" type="text/javascript"></script>
<script src="/js/users.js" type="text/javascript"></script>
</body>
</html>