<form xmlns:th="http://www.thymeleaf.org" method="post" th:object="${user}" th:action="@{~/users/userEdit}">

    <div class="field">
        <label for="username" th:text="#{Name}">Name</label>
        <input class="ui input" type="text" id="username" th:field="username" th:value="" readonly>
    </div>

    <div class="field">
        <label th:text="#{ExpirationDate}">Expiration date</label>
        <input class="ui input" type="date" id="date" name="date" th:value="${user.expirationDate}">
    </div>

    <div class="field ui checkbox">
        <input type="checkbox" id="admin" th:field="admin">
        <label for="admin" th:text="#{Admin}">Admin</label>
    </div>

    <div class="field">
        <button class="ui primary button" type="submit" th:text="#{Submit}">Submit</button>
    </div>

    <div th:err>

    </div>

</form>