<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-49.-49logger{50} - %msg%n</pattern>
    </layout>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
