@import "base.css";

html {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
}

#cellars {
    min-width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

#props {
    margin-left: 1rem;
    margin-right: 1rem;
    flex-grow: 1;
}

#cellars #toolbar {
}

#cellars #list {
    margin-top: 0;
    flex-grow: 1;
    overflow: auto;
}